* {
  margin: 0%;
  box-sizing: 0;
}

/* header */

.header-icon {
  color: black;
  font-family: Inter;
}

.header-bg {
  background-color: white;
}

.main-header {
  background-color: #fff;
  padding: 20px;
}

.header-searchbar {
  color: #87888c;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #dfe1e5;
}
/* sidebar */
.sidebar-content {
  color: #4a4a4a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar-content:hover {
  color: #ff5d25;
}

.my-client {
  border-radius: 5px;
  background: blue;
  color: #fff;
}
.my-client:hover {
  color: #fff;
}

.web-createdetails-bg {
  background-color: #f4f4f4;
  width: 1170px;
  height: 66px;
}
/* main */
.main-heading {
  color: #000;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}

.main-sub-heading {
  color: #1c1b1f;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

.main-details-heading {
  color: #20102b;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}

.main-checkbox-label {
  color: #999;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
}

.main-contact-details {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-contact-label {
  color: #20102b;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.main-head-style {
  color: #878686;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-details-h6 {
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-icon {
  color: #7e7e7e;
}

.main-input-style {
  color: #999;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  padding: 12px 15px;
}
.main-details-input {
  color: #999;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  padding: 12px 15px;
}

.client-current-project {
  border-bottom: 1px solid #004cff;
  background: rgba(0, 76, 255, 0.03);
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  color: #004cff;
  font-weight: 600;
  line-height: 20px;
  font-family: Mulish;
  font-size: 14px;
}

.client-completed-project {
  color: #344054;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
}
.edit-form-bg {
  border-radius: 4px;
  border: 1px solid rgba(217, 217, 217, 0.34);
  background: #f4f4f4;
}
.add-btn {
  background-color: #ff8000;
  color: #fff;
  font-family: Mulish;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 5px;
}
